<!doctype html>
<html lang="en">
  <head>
  	<title>版型總覽 - Guideline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
		<div class="wrapper d-flex align-items-stretch">
        <!-- 左選單 -->
		<nav id="sidebar">
				<div class="p-4 pt-5">
			  		<h1><a href="../index.html" class="logo">Guideline</a></h1>

		        <ul class="list-unstyled ">
		        <!-- 框架 -->
							<li class="active">
									<a href="#page01" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">框架</a>
									<ul class="list-unstyled collapse" id="page01" style="">
										<li><a href="layout.html">版型總覽</a></li>
										<li><a href="dashboard.html">儀錶盤</a></li>
										<li><a href="list.html">列表</a></li>
										<li><a href="page.html">新增編輯</a></li>
										<li><a href="login.html">登入</a></li>
									</ul>
							</li>
				    <!-- 通用 -->
							<li>
								<a href="#page02" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">通用</a>
									<ul class="list-unstyled collapse" id="page02" style="">
										<li><a href="../general/logo.html">Logo </a></li>
										<li><a href="../general/color.html">Color 色彩</a></li>
										<li><a href="../general/font.html">Fonts 字體</a></li>
										<li><a href="../general/icon.html">Icon 圖標</a></li>
										<li><a href="../general/button.html">Button 按钮</a></li>
										<li><a href="../general/batch.html">Batch 批次動作</a></li>
                  </ul>
					    </li>
				    <!-- 導航 -->
							<li>
								<a href="#page03" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">導航</a>
								  <ul class="list-unstyled collapse" id="page03" style="">
									<li><a href="../navigation/menu.html">Menu 選單</a></li>
									<li><a href="../navigation/affix.html">Affix 固定</a></li>
									<li><a href="../navigation/breadcrumb.html">Breadcrumb 麵包屑</a></li>
									<li><a href="../navigation/pagination.html">Pagination 分頁</a></li>
									<li><a href="../navigation/steps.html">Steps 步驟條</a></li>
							    </ul>
							</li>
				    <!-- 輸入 -->
							<li>
							<a href="#page04" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">輸入</a>
								<ul class="list-unstyled collapse" id="page04" style="">
									<li>
									<a href="../input/checkbox.html">Checkbox 多選框</a></li>
									<li><a href="../input/radio.html">Radio 單選框</a></li>
									<li><a href="../input/input.html">Input 輸入框</a></li>
									<li><a href="../input/select.html">Select 選擇器</a></li>
									<li><a href="../input/cascader.html">Cascader 級聯選擇</a></li>
									<li><a href="../input/time.html">Time Picker 日期時間選擇器 </a></li>
									<li><a href="../input/switch.html">Switch 開關</a></li>
									<li><a href="../input/upload.html">Upload 上傳檔案</a></li>
							  </ul>
							</li>
				<!-- 數據 -->
					<li>
					<a href="#page05" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">數據</a>
						<ul class="list-unstyled collapse" id="page05" style="">
							<li><a href="../display/badge.html">Badge&Stories 徽標&狀態 </a></li>
							<li><a href="../display/collapse.html">Collapse 折疊</a></li>
							<li><a href="../display/card.html">Card 卡片</a></li>
							<li><a href="../display/empty.html">Empty 空狀態</a></li>
							<li><a href="../display/image.html">Image 圖片</a></li>
							<li><a href="../display/statistics.html">Statistics 統計數字</a></li>
							<li><a href="../display/tooltip.html">Tooltip 文字提示</a></li>
							<li><a href="../display/tab.html">Tab 頁籤</a></li>
							<li><a href="../display/table.html">Table 表格</a></li>
					  </ul>
				</li>
				<!-- 反饋 -->
					<li>
					<a href="#page06" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">反饋</a>
						<ul class="list-unstyled collapse" id="page06" style="">
							<li><a href="../feedback/alert.html">Alert 警告提示</a></li>
							<li><a href="../feedback/drawer.html">Drawer 抽屜</a></li>
							<li><a href="../feedback/modal.html">Modal 對話框</a></li>
							<li><a href="../feedback/notification.html">Notification 通知提醒</a></li>
							<li><a href="../feedback/result.html">Result 結果</a></li>
							<li><a href="../feedback/spin.html">Spin 加載符號</a></li>
					  </ul>
					</li>
				</ul>
			  <!-- footer  -->		
			    <div class="footer"><p>聯合報系 著作權所有 ｜ &copy; udngroup.com. All Rights Reserved.</p></div>
			  </div>
		</nav>

		<!-- Page Content  -->
		<section id="content" class="p-4 p-md-5 pt-5 justify-content-center ">

            <!-- intro -->
			<div class="intro col-xl-8 offset-xl-2">

				<h2>版型總覽</h2>
				<P>
					2022-05-27, Helen, Yii<br>
					<!-- 這裡以後放更新原因 -->
				</P>

				<!-- table -->
				<table class="table">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">標題</th>
						<th scope="col">內容</th>
					  </tr>
					</thead>

					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Status</td>
							<td>框架</td>
					  </tr>

					</tbody>
				</table>

			</div>

            <!-- article -->
			<div class="article col-xl-8 offset-xl-2">

				<!-- 定義 --> 
				<div class="def mb-4">
					<h4>定義</h4>
					<P>頁面級別的整體框架。</P>
				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 收合功能 -->
				<!-- <div class="where mb-4">
					<h4>位置</h4> -->

					<!-- Web -->
					<!-- <div class="active">
						<a href="#where_web" data-toggle="collapse" aria-expanded="false" class="collapsed">
							<h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
								Web
							</h4>
						</a>
						<div class="list-unstyled collapse" id="where_web" style="">
							<p>圖標右上角或是狀態的前方。</p>
						</div>
						<p></p>
					</div>	 -->

					<!-- App -->
					<!-- <div class="active">
						<a href="#where_app" data-toggle="collapse" aria-expanded="false" class="collapsed">
							<h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
								App
							</h4>
						</a>
						<div class="list-unstyled collapse" id="where_app" style="">
							<p>（請放入針對 App 的敘述）</p>
						</div>
					</div>	

				</div> -->


				<!-- 規則 -->
				<div class="rule mb-4">
					<h4>規則</h4>
					<p>頁面的基本框架頁面由以下四項元素所阻成。</p>
					<ul>
						<li>Content：主要內容區域，由卡片集合而成。</li>
						<li>Header ：詳細規範請見<a target="_blank" href="../navigation/affix.html"> Breadcrumb 麵包屑 </a>。</li>
						<li>Sider：詳細規範請見 <a target="_blank" href="../navigation/menu.html">Menu 選單</a>。</li>
						<li>Footer：版權宣告僅出現於列表頁底部。</li>
						<br>
						<img class="img-fluid rounded" src="../images/layout/layout/佈局位置.svg" alt="">
					</ul>
				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 類型 -->
				<div class="type mb-4">

					<h4>類型</h4>
					<p>以下僅粗略列出系統中最常見的版型，詳細規範請至各頁查看。</p>

					<div class="type01">
						<h6>1. 列表頁</h6>
						<p>詳細規範請見<a target="_blank" href="../layout/list.html"> 列表頁 </a>。</p>
						<img class="img-fluid rounded" src="../images/layout/list/一般列表.svg" alt="">
					</div>

					<br>

					<div class="element02">
						<h6>2. 編輯、新增頁</h6>
						<p>詳細規範請見<a target="_blank" href="../layout/page.html"> 新增編輯</a>。</p>	
						<img class="img-fluid rounded" src="../images/layout/page/一般表單頁.svg" alt="">
					</div>

					<br>

					<div class="element03">
						<h6>3. 對話框（彈窗）</h6>
						<p>詳細規範請見<a target="_blank" href="../feedback/modal.html"> Modal 對話框</a>。</p>
						<img class="img-fluid rounded" src="../images/layout/layout/彈窗.svg" alt="">
					</div>

					<br>

					<div class="element04">
						<h6>4. 抽屜</h6>
						<p>詳細規範請見  Drawer 抽屜 。</p>
						<img class="img-fluid border rounded" src="../images/layout/layout/抽屜.svg" alt="">
					</div>

				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 響應式設計規範 -->
				<div class="rule mb-4">

					<h4>RWD 相關規範</h4>

					<div class="rule01">
						<h6>1. 選單</h6>
						<p>詳細規範請見 <a target="_blank" fhref="../navigation/menu.html"> Menu 選單 </a>。</p>
						<div class="type row mb-3">

							<div class="type col-md-6">
								<p>窄版選單</p>
								<img class="img-fluid rounded" src="../images/layout/layout/響應式佈局_窄版.svg" alt="">
							</div>
	
							<div class="type col-md-6">
								<p>寬版選單</p>
								<img class="img-fluid rounded" src="../images/layout/layout/響應式佈局_寬版.svg" alt="">
							</div>
						</div>
					</div>

					<div class="rule02">
						<h6>2. 欄位規則</h6>
						<ul>
							<li>1600 px 以上：3 欄。</li>
							<li>922 px -1599 px：2 欄。</li>
							<li>991 px 以下：1 欄。 </li>
							<br>
							<img class="img-fluid rounded" src="../images/layout/layout/欄位規則.png" alt="">
						</ul>
					</div>

				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

			</div>
		</section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>

	<script>
        const anchorTags = document.querySelectorAll('.collapsed');
        anchorTags.forEach(anchorTag => anchorTag.click());
    </script>
	
  </body>
</html>


