<!doctype html>
<html lang="en">
  <head>
  	<title>列表 - Guideline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
		<div class="wrapper d-flex align-items-stretch">
        <!-- 左選單 -->
		<nav id="sidebar">
				<div class="p-4 pt-5">
			  		<h1><a href="../index.html" class="logo">Guideline</a></h1>

		        <ul class="list-unstyled ">
		        <!-- 框架 -->
							<li class="active">
									<a href="#page01" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">框架</a>
									<ul class="list-unstyled collapse" id="page01" style="">
										<li><a href="layout.html">版型總覽</a></li>
										<li><a href="dashboard.html">儀錶盤</a></li>
										<li><a href="list.html">列表</a></li>
										<li><a href="page.html">新增編輯</a></li>
										<li><a href="login.html">登入</a></li>
									</ul>
							</li>
				    <!-- 通用 -->
							<li>
								<a href="#page02" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">通用</a>
									<ul class="list-unstyled collapse" id="page02" style="">
										<li><a href="../general/logo.html">Logo </a></li>
										<li><a href="../general/color.html">Color 色彩</a></li>
										<li><a href="../general/font.html">Fonts 字體</a></li>
										<li><a href="../general/icon.html">Icon 圖標</a></li>
										<li><a href="../general/button.html">Button 按钮</a></li>
										<li><a href="../general/batch.html">Batch 批次動作</a></li>
                  </ul>
					    </li>
				    <!-- 導航 -->
							<li>
								<a href="#page03" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">導航</a>
								  <ul class="list-unstyled collapse" id="page03" style="">
									<li><a href="../navigation/menu.html">Menu 選單</a></li>
									<li><a href="../navigation/affix.html">Affix 固定</a></li>
									<li><a href="../navigation/breadcrumb.html">Breadcrumb 麵包屑</a></li>
									<li><a href="../navigation/pagination.html">Pagination 分頁</a></li>
									<li><a href="../navigation/steps.html">Steps 步驟條</a></li>
							    </ul>
							</li>
				    <!-- 輸入 -->
							<li>
							<a href="#page04" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">輸入</a>
								<ul class="list-unstyled collapse" id="page04" style="">
									<li>
									<a href="../input/checkbox.html">Checkbox 多選框</a></li>
									<li><a href="../input/radio.html">Radio 單選框</a></li>
									<li><a href="../input/input.html">Input 輸入框</a></li>
									<li><a href="../input/select.html">Select 選擇器</a></li>
									<li><a href="../input/cascader.html">Cascader 級聯選擇</a></li>
									<li><a href="../input/time.html">Time Picker 日期時間選擇器 </a></li>
									<li><a href="../input/switch.html">Switch 開關</a></li>
									<li><a href="../input/upload.html">Upload 上傳檔案</a></li>
							  </ul>
							</li>
				<!-- 數據 -->
					<li>
					<a href="#page05" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">數據</a>
						<ul class="list-unstyled collapse" id="page05" style="">
							<li><a href="../display/badge.html">Badge&Stories 徽標&狀態 </a></li>
							<li><a href="../display/collapse.html">Collapse 折疊</a></li>
							<li><a href="../display/card.html">Card 卡片</a></li>
							<li><a href="../display/empty.html">Empty 空狀態</a></li>
							<li><a href="../display/image.html">Image 圖片</a></li>
							<li><a href="../display/statistics.html">Statistics 統計數字</a></li>
							<li><a href="../display/tooltip.html">Tooltip 文字提示</a></li>
							<li><a href="../display/tab.html">Tab 頁籤</a></li>
							<li><a href="../display/table.html">Table 表格</a></li>
					  </ul>
				</li>
				<!-- 反饋 -->
					<li>
					<a href="#page06" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">反饋</a>
						<ul class="list-unstyled collapse" id="page06" style="">
							<li><a href="../feedback/alert.html">Alert 警告提示</a></li>
							<li><a href="../feedback/drawer.html">Drawer 抽屜</a></li>
							<li><a href="../feedback/modal.html">Modal 對話框</a></li>
							<li><a href="../feedback/notification.html">Notification 通知提醒</a></li>
							<li><a href="../feedback/result.html">Result 結果</a></li>
							<li><a href="../feedback/spin.html">Spin 加載符號</a></li>
					  </ul>
					</li>
				</ul>
			  <!-- footer  -->		
			    <div class="footer"><p>聯合報系 著作權所有 ｜ &copy; udngroup.com. All Rights Reserved.</p></div>
			  </div>
		</nav>

		<!-- Page Content  -->
		<section id="content" class="p-4 p-md-5 pt-5 justify-content-center ">

            <!-- intro -->
			<div class="intro col-xl-8 offset-xl-2">

				<h2>列表</h2>
				<P>
					2022-05-27, Helen, Yii<br>
					<!-- 這裡以後放更新原因 -->
				</P>

				<!-- table -->
				<table class="table">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">標題</th>
						<th scope="col">內容</th>
					  </tr>
					</thead>

					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Status</td>
							<td>框架</td>
					  </tr>

					  <tr>
						  <th scope="row">2</th>
						  <td>Ant Design</td>
						  <td><a target=_blank href="https://ant.design/docs/spec/research-list-cn">https://ant.design/docs/spec/research-list-cn</a></td>
					  </tr>

					  <tr>
						  <th scope="row">3</th>
						  <td>Web</td>
						  <td><a target=_blank href="#">#</a></td>
					  </tr>

					  <tr>
						  <th scope="row">4</th>
						  <td>App</td>
						  <td><a target=_blank href="#">#</a></td>
					  </tr>
					</tbody>
				</table>

			</div>

            <!-- article -->
			<div class="article col-xl-8 offset-xl-2">

				<!-- 定義 --> 
				<div class="def mb-4">
					<h4>定義</h4>
					<P>列表頁可以查看和處理大量的資訊，常有導引使用者查看詳情的作用。用戶可以在列表頁進行篩選、新增、進入詳情頁等操作。 </P>
				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 收合功能 -->
				<!-- <div class="where mb-4">
					<h4>位置</h4> -->

					<!-- Web -->
					<!-- <div class="active">
						<a href="#where_web" data-toggle="collapse" aria-expanded="false" class="collapsed">
							<h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
								Web
							</h4>
						</a>
						<div class="list-unstyled collapse" id="where_web" style="">
							<p>圖標右上角或是狀態的前方。</p>
						</div>
						<p></p>
					</div>	 -->

					<!-- App -->
					<!-- <div class="active">
						<a href="#where_app" data-toggle="collapse" aria-expanded="false" class="collapsed">
							<h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
								App
							</h4>
						</a>
						<div class="list-unstyled collapse" id="where_app" style="">
							<p>（請放入針對 App 的敘述）</p>
						</div>
					</div>	

				</div> -->


				<!-- 規則 -->
				<div class="rule mb-4">
					<h4>規則</h4>
					<ul>
						<li>Header 的標題為「列表」。</li>
						<li>列表頁面底部放置版權宣告。</li>
					</ul>
				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 類型 -->
				<div class="type mb-4">

					<h4>類型</h4>

					<div class="type01">
						<h6>1. 一般列表</h6>
						<ul>
							<li>由上往下堆疊，搜尋框卡片在最上方，下方為列表列。</li>							
							<li>使用者由搜尋框過濾數據後，可查看下方列表數據，並由列表列進入詳情頁。</li>
						</ul>
						<img class="img-fluid rounded" src="../images/layout/list/一般列表.svg" alt="">	
					</div>

					<br>

					<div class="type02">
						<h6>2. 頁籤列表</h6>
						<ul>
							<li>以一般列表為基底，並加入頁籤來進行分類。</li>							
						</ul>
						<img class="img-fluid rounded" src="../images/layout/list/頁籤列表.svg" alt="">	
					</div>

				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 元素 -->
				<div class="element mb-4">

					<h4>元素</h4>

					<div class="element01">
						<h6>1. Logo</h6>
						<p>詳細規範請見 <a target="_blank" href="../display/tab.html">Tab 頁籤</a>。</p>
					</div>

					<div class="element02">
						<h6>2. 搜尋框</h6>
						<p>（1) 一般搜尋 與 進階搜尋
							<ul>
								<li>預設僅顯示一般搜尋，點選 展開 按鈕，展開進階搜尋欄位，按收合則收起進階搜尋欄位。</li>
								<br>
								<img class="img-fluid rounded" src="../images/layout/list/搜尋框.svg" alt="">		
							</ul>
						</p>

						<br>

						<p>（2) 搜尋條件排序方式
							<ul>
								<li>第一列建議是編號或名稱(Text Field)，非必要請避免在一般搜尋條件中使用Checkbox、Radio Button、日期選單或下拉選單。</li>
								<li>選項單選時使用 Radio Button，複選時使用 Checkbox，選項多於 6 個時使用 Select。其他細項請參考 Checkbox、Radio Button  以及 Select 的使用規則。</li>
								<li>搜尋條件的排序：以功能為主（同類型的篩選條件建議可放一起），視覺為輔。</li>
								<li>將較不重要、且會影響對齊的搜尋條件（例：checkbox、時間）往後放置到最後一列。</li>
							</ul>
						</p>

						<p>（3) 搜尋條件的預設值為空
							<ul>
								<li>搜尋條件預設欄位皆為空值，除非特殊狀況必須預設條件則不在此限。如：當天日期</li>
								<li>Checkbox 預設皆不選 ；Radio Button 預設為【全部】的選項。</li>
								<li>Radio Button 在搜尋篩選有多個項目第一項為【全部】其次才是分別的選項。</li>
							</ul>
						</p>

						<p>（4) 條件與條件為交集 (AND)
							<ul>
								<li>搜搜尋的條件與條件是以交集(AND)方式查詢，查詢 條件 A 與 條件B ，A 和 B 兩個都要符合才列出來。</li>
								<li>例如：搜尋 [ A123 ]開頭的商品編號，與商品名稱 [ 金沙 ] 兩個條件，結果是滿足商品資料符合編號前綴A123開頭，且符合商品名稱含有金沙的商品。</li>
								<br>
								<img class="img-fluid rounded" src="../images/layout/list/交集.svg" alt="">	
							</ul>			
						</p>

						<br>

						<p>（5) 相同條件內的項目為聯集(OR)
							<ul>
								<li>同條件下的複選項目，搜尋時屬聯集(OR)方式，即查詢 a 或 b 或 c 其中一個符合的資料。</li>
								<li>搜尋時在商品狀態 Checkbox 勾選 [缺貨、停售] 兩個狀態，結果是商品資料包含 [缺貨] 或者 [停售] 的相關商品全部列出。</li>
								<br>
								<img class="img-fluid rounded" src="../images/layout/list/聯集.svg" alt="">	
							</ul>			
						</p>

						<br>

						<p>（6) 搜尋條件與列表標題
							<ul>
								<li>搜尋條件名稱必須與查詢結果列表的標題名稱相同。</li>
								<li>請盡量避免設定搜尋條件是結果列表裡面沒有的欄位，簡單說就是搜尋條件應小於或等於結果列表的資訊。</li>
							</ul>			
						</p>

						<p>（7) 空白鍵不列入搜尋
							<ul>
								<li>狀況：當從網站或Excel表單複製的文字會帶入空白鍵。搜尋框一律自動去除空白鍵格後，再進行資料搜尋。</li>
								<li>空白鍵輸入採自動去頭去尾空白，按【搜尋】時執行動作。</li>
							</ul>			
						</p>

					</div>

					<div class="elemt03">
						<h6>3. 列表</h6>
						<p>（1) 列表顯示筆數統計
							<ul>
								<li>列表：預設顯示全部資料中最新新增的 20 筆資料。</li>
								<li>若未勾選列表內 checkbox，文案為：總資料筆數共 【數值】 筆</li>
								<li>若有勾選列表內 checkbox，文案為：總資料筆數共 【數值】 筆，已勾選 【數值】 筆</li>
								<li>排序：Checkbox > 動作 > 編號、序號 > 圖片 > 名稱 > 狀態 > 文字類 > 數值類 > 修改時間</li>
							</ul>					
						</p>

						<p>(2) 卡片標題<br>
							詳細規範請參考 <a target="_blank" href="../display/card.html">Card 卡片</a>。
						</p>

						<p>(3) 批次動作<br>
							詳細規範請參考 <a target="_blank" href="../general/batch.html">Batch 批次動作</a>。
						</p>

					</div>

					<div class="elemrnt04">
						<h6>4. 版權宣告</h6>
						<p>
							<ul>
								<li>僅列表頁面底部需放置版權宣告。</li>
							</ul>
						</p>
					</div>
					
				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

			</div>
		</section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>

	<script>
        const anchorTags = document.querySelectorAll('.collapsed');
        anchorTags.forEach(anchorTag => anchorTag.click());
    </script>
	
  </body>
</html>


