<!doctype html>
<html lang="en">
  <head>
  	<title>編輯新增 - Guideline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
		<div class="wrapper d-flex align-items-stretch">
        <!-- 左選單 -->
		<nav id="sidebar">
				<div class="p-4 pt-5">
			  		<h1><a href="../index.html" class="logo">Guideline</a></h1>

		        <ul class="list-unstyled ">
		        <!-- 框架 -->
							<li class="active">
									<a href="#page01" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">框架</a>
									<ul class="list-unstyled collapse" id="page01" style="">
										<li><a href="layout.html">版型總覽</a></li>
										<li><a href="dashboard.html">儀錶盤</a></li>
										<li><a href="list.html">列表</a></li>
										<li><a href="page.html">新增編輯</a></li>
										<li><a href="login.html">登入</a></li>
									</ul>
							</li>
				    <!-- 通用 -->
							<li>
								<a href="#page02" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">通用</a>
									<ul class="list-unstyled collapse" id="page02" style="">
										<li><a href="../general/logo.html">Logo </a></li>
										<li><a href="../general/color.html">Color 色彩</a></li>
										<li><a href="../general/font.html">Fonts 字體</a></li>
										<li><a href="../general/icon.html">Icon 圖標</a></li>
										<li><a href="../general/button.html">Button 按钮</a></li>
										<li><a href="../general/batch.html">Batch 批次動作</a></li>
                  </ul>
					    </li>
				    <!-- 導航 -->
							<li>
								<a href="#page03" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">導航</a>
								  <ul class="list-unstyled collapse" id="page03" style="">
									<li><a href="../navigation/menu.html">Menu 選單</a></li>
									<li><a href="../navigation/affix.html">Affix 固定</a></li>
									<li><a href="../navigation/breadcrumb.html">Breadcrumb 麵包屑</a></li>
									<li><a href="../navigation/pagination.html">Pagination 分頁</a></li>
									<li><a href="../navigation/steps.html">Steps 步驟條</a></li>
							    </ul>
							</li>
				    <!-- 輸入 -->
							<li>
							<a href="#page04" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">輸入</a>
								<ul class="list-unstyled collapse" id="page04" style="">
									<li>
									<a href="../input/checkbox.html">Checkbox 多選框</a></li>
									<li><a href="../input/radio.html">Radio 單選框</a></li>
									<li><a href="../input/input.html">Input 輸入框</a></li>
									<li><a href="../input/select.html">Select 選擇器</a></li>
									<li><a href="../input/cascader.html">Cascader 級聯選擇</a></li>
									<li><a href="../input/time.html">Time Picker 日期時間選擇器 </a></li>
									<li><a href="../input/switch.html">Switch 開關</a></li>
									<li><a href="../input/upload.html">Upload 上傳檔案</a></li>
							  </ul>
							</li>
				<!-- 數據 -->
					<li>
					<a href="#page05" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">數據</a>
						<ul class="list-unstyled collapse" id="page05" style="">
							<li><a href="../display/badge.html">Badge&Stories 徽標&狀態 </a></li>
							<li><a href="../display/collapse.html">Collapse 折疊</a></li>
							<li><a href="../display/card.html">Card 卡片</a></li>
							<li><a href="../display/empty.html">Empty 空狀態</a></li>
							<li><a href="../display/image.html">Image 圖片</a></li>
							<li><a href="../display/statistics.html">Statistics 統計數字</a></li>
							<li><a href="../display/tooltip.html">Tooltip 文字提示</a></li>
							<li><a href="../display/tab.html">Tab 頁籤</a></li>
							<li><a href="../display/table.html">Table 表格</a></li>
					  </ul>
				</li>
				<!-- 反饋 -->
					<li>
					<a href="#page06" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">反饋</a>
						<ul class="list-unstyled collapse" id="page06" style="">
							<li><a href="../feedback/alert.html">Alert 警告提示</a></li>
							<li><a href="../feedback/drawer.html">Drawer 抽屜</a></li>
							<li><a href="../feedback/modal.html">Modal 對話框</a></li>
							<li><a href="../feedback/notification.html">Notification 通知提醒</a></li>
							<li><a href="../feedback/result.html">Result 結果</a></li>
							<li><a href="../feedback/spin.html">Spin 加載符號</a></li>
					  </ul>
					</li>
				</ul>
			  <!-- footer  -->		
			    <div class="footer"><p>聯合報系 著作權所有 ｜ &copy; udngroup.com. All Rights Reserved.</p></div>
			  </div>
		</nav>

		<!-- Page Content  -->
		<section id="content" class="p-4 p-md-5 pt-5 justify-content-center ">

            <!-- intro -->
			<div class="intro col-xl-8 offset-xl-2">

				<h2>新增編輯</h2>
				<P>
					2022-05-27, Helen, Yii<br>
					<!-- 這裡以後放更新原因 -->
				</P>

				<!-- table -->
				<table class="table">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th scope="col">標題</th>
						<th scope="col">內容</th>
					  </tr>
					</thead>

					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Status</td>
							<td>框架</td>
					    </tr>

					    <tr>
						  <th scope="row">2</th>
						  <td>Web</td>
						  <td><a target=_blank href="#">#</a></td>
					    </tr>

					    <tr>
						  <th scope="row">3</th>
						  <td>App</td>
						  <td><a target=_blank href="#">#</a></td>
					    </tr>
					</tbody>
				</table>

			</div>

            <!-- article -->
			<div class="article col-xl-8 offset-xl-2">

				<!-- 定義 --> 
				<div class="def mb-4">
					<h4>定義</h4>
					<P>新增編輯頁面是主要目的為載明細項、輸入訊息的頁面，用以確保使用者按照要求或程序輸入資訊並提交給系統，或是用以引導使用者完成設置。 </P>
				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 收合功能 -->
				<!-- <div class="where mb-4">
					<h4>位置</h4> -->

					<!-- Web -->
					<!-- <div class="active">
						<a href="#where_web" data-toggle="collapse" aria-expanded="false" class="collapsed">
							<h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
								Web
							</h4>
						</a>
						<div class="list-unstyled collapse" id="where_web" style="">
							<p>圖標右上角或是狀態的前方。</p>
						</div>
						<p></p>
					</div>	 -->

					<!-- App -->
					<!-- <div class="active">
						<a href="#where_app" data-toggle="collapse" aria-expanded="false" class="collapsed">
							<h4><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
								App
							</h4>
						</a>
						<div class="list-unstyled collapse" id="where_app" style="">
							<p>（請放入針對 App 的敘述）</p>
						</div>
					</div>	

				</div> -->


				<!-- 規則 -->
				<div class="rule mb-4">
					<h4>規則</h4>
					<p>Header 的標題為「新增 / 編輯 XXX」，例如：「新增 SKU」、「編輯退貨單」。</p>
				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 類型 -->
				<div class="type mb-4">

					<h4>類型</h4>

					<div class="type01">
						<h6>1. 基本框架</h6>
						<ul>
							<li>呈現所有需要填寫的訊息，適合內容項目較少，内容項無法按照相關性分類的表單。</li>
							<li>使用於當需要完成一個簡單快速的任務，輸入少量資訊即可完成。</li>
							<br>
							<img class="img-fluid rounded" src="../images/layout/page/一般表單頁.svg" alt="">
						</ul>
					</div>

					<br>

					<div class="type02">
						<h6>2. 分解步驟</h6>
						<ul>
							<li>將大型、複雜任務拆解為多個部分，並且按照相關性分組，減輕使用者輸入過多的負擔。即使美的部分得以單獨處理，但最終一起完成並提交。使用於大型、複雜的表單，透過適當的任務分割，可以降低使用者的出錯率。</li>
							<li>詳細規範請見 <a target="_blank" href="../navigation/steps.html">Steps 步驟條。</a></li>
							<br>
							<img class="img-fluid rounded" src="../images/layout/page/步驟表單頁.svg" alt="">
						</ul>
					</div>

				</div>

				<!-- 分隔線 --> 
				<div class="dropdown-divider"></div>

				<!-- 元素 -->
				<div class="element mb-4">

					<h4>元素</h4>
					<p>編輯、新增頁面通長由多張卡片共同組成，以下列出常見的卡片，以及其中基本應出現的資訊。</p>

					<div class="element01">
						<h6>1. 資訊</h6>
						<ul>
							<li>與「基本資料」相關的卡片標題文案為「XXX 資訊」，例如：「供應商資訊」。</li>
							<li>其他與基本資料無相關的卡片標題文案以簡潔為主，詞尾可能有「資訊」、「設定」、「類型」，抑或是什麼都不加。<br>
								例如：聯絡資訊、通路商品規格類型、API串接設定、付款單。
							</li>
							<li>若為「物品」的基本資料，應遵循以下順序並包含此資訊「編號 > 名稱」。</li>
							<li>若為「人員」的基本資料，應遵循以下順序並包含此資訊 「帳號 > 姓名」。</li>
						</ul>
					</div>

					<div class="element02">
						<h6>2. 編輯資訊</h6>
						<ul>
							<li>為「編輯」頁面最底部的卡片。</li>
						</ul>

						<div class="p-3 border rounded">

							<table class="table table-sm text-center">

								<thead class="thead-dark">
								  <tr>					
									<th scope="col" class="col-xl-1">排序</th>
									<th scope="col">名稱</th>
									<th scope="col">格式</th>
									<th scope="col">範例</th>
								  </tr>
								</thead>
		
								<tbody>
									<tr>		
										<td>1</td>
										<td>建立時間</td>	
										<td>YYY-MM-DD hh:mm:ss</td>
										<td>2022-05-31 00:01:50</td>							
									</tr>
		
									<tr>		
										<td>2</td>	
										<td>建檔人員</td>
										<td>帳號 + 名字</td>	
										<td>ming.chen 陳小明</td>						
									</tr>
		
									<tr>		
										<td>3</td>	
										<td>建檔人員IP</td>
										<td>電腦 IP 位置</td>	
										<td>123.12.1.1</td>						
									</tr>
		
									<tr>		
										<td>4</td>	
										<td>最新異動時間</td>
										<td>YYY-MM-DD hh:mm:ss</td>	
										<td>2022-05-31 00:01:50</td>						
									</tr>
		
									<tr>		
										<td>5</td>	
										<td>最新異動人員</td>
										<td>帳號 + 名字</td>	
										<td>ming.chen 陳小明</td>						
									</tr>
		
									<tr>		
										<td>6</td>	
										<td>最新異動人員 IP</td>
										<td >電腦 IP 位置</td>	
										<td>123.12.1.1</td>						
									</tr>
		
									<tr>		
										<td>7</td>	
										<td>異動項目</td>
										<td>異動時間 + 異動欄位</td>	
										<td>2022-05-31 00:02:50  一般 SKU 圖片</td>						
									</tr>			
								</tbody>
		
							</table>

						</div>		
	
					</div>

					<br>

					<div class="element03">
						<h6>3. 狀態與歷程</h6>
						<ul>
							<li>通常出現於訂單模組。</li>
							<li>詳細規範請參考 <a target="_blank" href="../navigation/steps.html">Steps 步驟條。</a></li>
						</ul>
					</div>

					<!-- 分隔線 --> 
					<div class="dropdown-divider"></div>
				
				</div>
				
			</div>
		</section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>

	<script>
        const anchorTags = document.querySelectorAll('.collapsed');
        anchorTags.forEach(anchorTag => anchorTag.click());
    </script>
	
  </body>
</html>


